/* 판다 css로는 2줄 옵션을 사용 할 수 없어 따로 제작 */

.Desc {
  width: 100%;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 20px;
  height: 40px; /* line-height x line */
}

.Desc p {
  margin-top: 0;
}
